
*.s#*
*.b#*
02.Hardware/MK2 PCBs/02.CONNECTORS/dxfimp.scr
.vscode
02.Hardware/MK2 PCBs/02.CONNECTORS/01.Single/CAM/Connectors-MK2-1ch_2022-06-17/Connectors-MK2-1ch.GBL
02.Hardware/MK2 PCBs/02.CONNECTORS/01.Single/CAM/Connectors-MK2-1ch_2022-06-17/Connectors-MK2-1ch.GBO
02.Hardware/MK2 PCBs/02.CONNECTORS/01.Single/CAM/Connectors-MK2-1ch_2022-06-17/Connectors-MK2-1ch.GBP
02.Hardware/MK2 PCBs/02.CONNECTORS/01.Single/CAM/Connectors-MK2-1ch_2022-06-17/Connectors-MK2-1ch.GBS
02.Hardware/MK2 PCBs/02.CONNECTORS/01.Single/CAM/Connectors-MK2-1ch_2022-06-17/Connectors-MK2-1ch.GML
02.Hardware/MK2 PCBs/02.CONNECTORS/01.Single/CAM/Connectors-MK2-1ch_2022-06-17/Connectors-MK2-1ch.GTL
02.Hardware/MK2 PCBs/02.CONNECTORS/01.Single/CAM/Connectors-MK2-1ch_2022-06-17/Connectors-MK2-1ch.GTO
02.Hardware/MK2 PCBs/02.CONNECTORS/01.Single/CAM/Connectors-MK2-1ch_2022-06-17/Connectors-MK2-1ch.GTP
02.Hardware/MK2 PCBs/02.CONNECTORS/01.Single/CAM/Connectors-MK2-1ch_2022-06-17/Connectors-MK2-1ch.GTS
02.Hardware/MK2 PCBs/02.CONNECTORS/01.Single/CAM/Connectors-MK2-1ch_2022-06-17/Connectors-MK2-1ch.TXT
02.Hardware/MK2 PCBs/02.CONNECTORS/01.Single/CAM/Connectors-MK2-1ch_2022-06-17/Gerber/gerber_job.gbrjob
