
*.s#*
*.b#*
02.Hardware/MK2 PCBs/02.CONNECTORS/dxfimp.scr
.vscode
02.Hardware/MK2 PCBs/02.CONNECTORS/01.Single/CAM/
02.Hardware/MK2 PCBs/04.FAJA USBC/dxfimp.scr
02.Hardware/MK2 PCBs/04.FAJA USBC/dxfimp.scr

03.Firmware/01.CODE/EDCPSU-MK2-DUAL-RP2040/build/
